@import url("components/banner.css");
@import url("components/doctor.css");
@import url("components/company.css");
@import url("components/equipment.css");
@import url("components/troubleshooting.css")
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@mixin flexbox() {
    display: -webkit-box;
}
/*COMPONENTS

ANIMATION TEXT FADE 
color: transparent;
animation: text_reveal .5s ease forwards;
animation-delay: .4s;
THIS IS USED TO FADE TEXT AND CAN BE MODIFIED AS NEEDED 

*/

html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family:'Montserrat', sans-serif;;
}
#hero .cta{
    text-decoration: none;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
/*HEADER SECTION*/
.company h1 {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(14,25,35,.01);
    transition: .3s ease background-color;
    padding-bottom: 20px;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgba(14,25,35,1);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-decoration: none;
    padding: 10px;
    display: block;
}

#header .nav-list ul a::after {
   content: attr(data-after);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   color: rgba(240,248,255,0.061);
   font-size: 7rem;
   letter-spacing: 50px;
   z-index: -1;
   transition: .6s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: crimson;
}
#header .hamburger {
    z-index: 100;
    height: 45px;
    width: 45px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-top: 20px;
}
#header .hamburger .bar {
    height: 1px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
/*END HEADER SECTION*/
/* hero Section */
#hero {
    background-image: url(https://www.uncovercolorado.com/wp-content/uploads/2020/06/vail-ski-resort-blue-sky-basin-powder.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero .hero {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .55;
    z-index: -1;
    
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
    letter-spacing: .2rem;

}
#hero h3 {
    font-weight: 100;
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1.5s ease forwards;
    animation-delay: 2.3s;
}
#hero h1:nth-child(1) {
    animation-delay: 1.5s;
}
#hero h3:nth-child(1) {
    animation-delay: 3s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson ;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h3 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson ;
    animation: text_reveal_box 1s ease;
    animation-delay: 1.9s;
}
#hero h1:nth-child(1) span {
    animation-delay: 1s;
}
/* I could add more child elements using the syntax above and putting
different child numbers*/

/* disclaimer button */
#hero .cta {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    border-radius: 3%;
    text-shadow: 1px 1px 0px black;
    box-shadow: 4px 5px 3.5px 0 #ffffff3c;
}
#hero .cta:hover {
    color: white;
    background-color: crimson;
}
/* disclaimer button */

/* end hero setion */

/* Services Section*/
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .section-title {
    font-size: 3rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#services .section-title span {
    color: crimson;
}
#services .service-top {
    width: 500px;
    margin: 0 auto;
}
#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: .05rem;

}
#services .service-top span {
    color: crimson;
}
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-bottom h2 {
    font-weight: 300;
}
#services .service-bottom h2:hover  {
    transform: scale(1.2);
    transition-delay: .1s;
    transition: all .3s ease-in-out;
}
/* this is where i put the animation to make the doctor and shit go to black when hovering*/
#services .list {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, black, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out;
}
#services .list::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all .3 ease-in-out;
}
#services .list:hover {
    background-position: 0;
}
#services .list:hover::before {
    width: 100%;
}
/* End hover effect section */

#services .service-bottom h2 {
    background-color: transparent;
    box-shadow: none;
}
#services .service-item-1 {
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 40%), url("/images/skiing\ film.JPG");
    background-size: cover;
    margin: 10px 5%;
    letter-spacing: .2rem;

}
#services .service-item-2 {
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 40%), url("https://images.unsplash.com/photo-1518972734183-c5b490a7c637?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    margin: 10px 5%;
    letter-spacing: .2rem;

}
#services .service-item-3 {
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 40%), url("/images/chungus\ moment.JPG");
    background-size: cover;
    margin: 10px 5%;
    letter-spacing: .2rem;

}
#services .service-item-4 {
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 40%), url("https://images.unsplash.com/photo-1496765111150-918497b59c9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    margin: 10px 5%;
    letter-spacing: .2rem;

}
#services .service-bottom h2 {
    color: white;
    opacity: .8;
    font-size: 2.3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-bottom p {
    text-align: left;
    color: black;
    font-size: 1rem;
    line-height: 1.9rem;
}
#services .service-bottom h2:hover {
    color: black;
}
/* End Services Section*/

/* disclaimer section */

#disclaimer .disclaimer {
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 0px;
}
#disclaimer .disclaimer-header h1 {
    font-size: 3rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#disclaimer .disclaimer-content p {
    margin-top: 15px;
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid crimson;
    padding: 30px 20px;
    margin-left: 50px;
    margin-right: 60px;
}
/*end of disclaimer section*/

/* contact section */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

#contact h1 {
    font-size: 3rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center; 
   
}
#contact .contact-items {
    width: 425px;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px 5px #0000002c;
    flex-direction: column;
    transition: .25s ease box-shadow;
    background-color: #e1e2e2;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 3px 0 #0000003c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h2{
    font-size: 2rem;
    font-weight: 400;
   
}
#contact .contact-info h3 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
}
#contact .contact-info a {
    text-decoration: none;
    color: crimson
}
/* End of contact section */
/*TWO COLUMN FOOTER*/
/*MAIN FOOTER BACKGROUND AND STYLE */
#footer-2 {
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,.2) 0%, rgba(0,0,0,0.1) 40%), url(https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIyfHxuYXR1cmV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60);
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer-2 .footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    max-height: 100px;
}
/*MAIN FOOTER BACKGROUND AND STYLE */

/*FOOTER HEADER*/
#footer-2 .footer-header {
    text-align: center;
}
#footer-2 .footer-header {
    transition: transform .3s;
}
#footer-2 .footer-header:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#footer-2 .footer-header h2 a {
    color: black;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
}
/* END FOOTER HEADER */

/* LEFT CONTAINER */
#footer-2 .footer-left {
    width: 50%;
    transition: transform .3s;
}
#footer-2 .footer-left h2 a {
    color: black;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 120;
}
#footer-2 .footer-left h2:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#footer-2 .footer-left h2 {
    transition: transform .3s;
}
/* END LEFT CONTAINER */
/* RIGHT CONTAINER */
#footer-2 .footer-right h2 a {
    color: black;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 120;
}
#footer-2 .footer-right h2:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#footer-2 .footer-right h2 {
    transition: transform .3s;
}
#footer-2 .footer-right {
    width: 50%;
}
/* END of Footer */


/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
        text-shadow: 1.5px 1.5px 4px black;
    }
}

/* End Keyframes */
/* media query for tablet */
@media only screen and (min-width:576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    #hero .cta {
        font-size: 1.5rem;
        padding: 10px 20px;
    }
    #hero h1 {
        font-size: 5.5rem;
    }
    #hero h3 {
        font-size: 3rem;
    }
    #services .service-top h1 {
        font-size: 5rem;
    }
    #services .service-bottom .service-item-1 {
        flex-basis: 46%;
        margin: .5%;
    }
    #services .service-bottom .service-item-2 {
        flex-basis: 46%;
        margin: .5%;
    }
    #services .service-bottom .service-item-3 {
        flex-basis: 46%;
        margin: .5%;
    }
    #services .service-bottom .service-item-4 {
        flex-basis: 46%;
        margin: .5%;
    }
    #disclaimer .disclaimer-header h1 {
        font-size: 5.5rem;
    }
    #contact .contact h1 {
        font-size: 4.5rem;
    }
    #contact .contact {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 50px;
        margin: 100px;
    }
    #contact .contact-item {
        margin: 10px;
        flex-direction: column;
    }
    #contact .contact-item .icon {
        height: 80px;
        width: 80px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: center;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    #header .hamburger {
        display: none;
    }
    #header .nav-list {
        max-height: 40px;
        padding-top: 5px;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.4rem;
        font-weight: 200;
    }
    #header .nav-list ul a::after {
        display: none;
    }
    #services .service-bottom .service-item-4 {
        flex-basis: 81%;
        margin: 1.5%;
    }
    #services .service-bottom .service-item-1 {
        flex-basis: 25%;
        margin: 1.5%;
    }
    #services .service-bottom .service-item-2 {
        flex-basis: 25%;
        margin: 1.5%;
    }
    #services .service-bottom .service-item-3 {
        flex-basis: 25%;
        margin: 1.5%;
    }

}

/* END media query for tablet */

/* IPHONE DIMENIONS */

@media only screen and  (min-width: 200px) and (max-width: 700px) {
    /* Homepage font size for header */
    #hero h1 {
        font-size: 3.7rem;
    }
    #hero .cta {
        font-size: 1.2rem;
    }

    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 2.1rem;
        font-weight: 200;
    }
    #header .nav-list ul a::after {
        display: none;
    }

    /* Services section width */
    #services .service-top {
        width: 90%;
    }
    #services .service-bottom .service-item-4 {
       padding-left: 10px;
       padding-right: 10px;
        margin: 2%;
        letter-spacing: .2rem;
        flex: 25%;


    }
    #services .service-bottom .service-item-1 {
        margin: 1.5%;
        letter-spacing: .2rem;
        flex: 25%;

    }
    #services .service-bottom .service-item-2 {
        margin: 1.5%;
        letter-spacing: .2rem;
        flex: 25%;
    }
    #services .service-bottom .service-item-3 {
        margin: 1.5%;
        letter-spacing: .2rem;
        flex: 25%;


    }
    /* Contact Section Width */
    #contact .contact-items {
        width: 95%;
    }
    #footer-2 .footer-header h2 a {
        font-size: 2rem;
    }
    #footer-2 .footer-left h2 a {
        font-size: 1.2rem;
    }
    #footer-2 .footer-right h2 a {
        font-size: 1.2rem;
    }

}
