#title {
    background-image: linear-gradient(rgba(0,0,0,.2) 0%, rgba(0,0,0,0.1) 40%), url(https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
    background-size: cover;
}
#navbar .navbar-brand {
    font-size: 1.6rem;
    transition: transform .3s;
}
#navbar .navbar-brand:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#navbar .nav-item {
    transition: transform .3s;
}
#navbar .nav-item:hover {
    transform: scale(1.015);
    transition-delay: .1s;
}
#title .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
}
#title .title {
    flex-direction: column;
    max-width: 70%;
}
#title .doctor-heading h1 {
    text-align: center;
    font-weight: 200;
    font-size: 3.7rem;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: .4s;
    
}
#title .description {
    margin-top: 10px;
}
#title .description p {
    font-weight: 150;
    font-size: 1.1rem;
    text-align: center;
    color: transparent;
    animation: text_reveal .7s ease forwards;
    animation-delay: .8s;

}

#c-list .list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}
#c-list .company-list p {
    transition: transform .3s;
}
#c-list .company-list p a {
    font-size: 2.1rem;
    font-weight: 200;
    color: transparent;
    animation: text_reveal_2 .9s ease forwards;
    animation-delay: 1.2s;
    text-decoration: none;
}
#c-list .company-list p:hover {
    color: white;
    transform: scale(1.1);
    transition-delay: .1s;
}
hr {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*TWO COLUMN FOOTER*/
/*MAIN FOOTER BACKGROUND AND STYLE */
#footer-2 {
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,.2) 0%, rgba(0,0,0,0.1) 40%), url(https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIyfHxuYXR1cmV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60);
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer-2 .footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    max-height: 100px;
}
/*MAIN FOOTER BACKGROUND AND STYLE */

/*FOOTER HEADER*/
#footer-2 .footer-header {
    text-align: center;
}
#footer-2 .footer-header {
    transition: transform .3s;
}
#footer-2 .footer-header:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#footer-2 .footer-header h2 a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
}
/* END FOOTER HEADER */

/* LEFT CONTAINER */
#footer-2 .footer-left {
    width: 50%;
    transition: transform .3s;
}
#footer-2 .footer-left h2 a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 120;
}
#footer-2 .footer-left h2:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#footer-2 .footer-left h2 {
    transition: transform .3s;
}
/* END LEFT CONTAINER */
/* RIGHT CONTAINER */
#footer-2 .footer-right h2 a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 120;
}
#footer-2 .footer-right h2:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
#footer-2 .footer-right h2 {
    transition: transform .3s;
}
#footer-2 .footer-right {
    width: 50%;
}

/* END RIGHT CONTAINER */
@keyframes text_reveal {
    100% {
        color: black;
        text-shadow: .1px .1px .5px white;
       
    }
}
@keyframes text_reveal_2 {
    100% {
        color: black;
       
    }
}
/*Media Page*/
@media only screen and (min-width: 768px) {
    #title .doctor-heading h1 {
        font-size: 4rem;
    }
    #title .description p {
        font-size: 19px;
        font-weight: 200;
    }
    #c-list .company-list p {
        font-size: 35px;
        font-weight: 250px;
    }
}
/*Media Scaling*/

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen and  (min-width: 200px) and (max-width: 600px) {
    #title .doctor-heading h1 {
        font-size: 3.1rem;
    }
    #title .description p {
        font-size: 1.1rem;
        font-weight: 200;
    }
}