#navbar .navbar-brand {
    font-size: 1.6rem;
    transition: transform .3s;
}
#navbar .navbar-brand:hover {
    transform: scale(1.07);
    transition-delay: .1s;
}
/*title header section*/

#title {
    background-image: linear-gradient(rgba(0,0,0,0.09) 0%, rgba(0,0,0,0.05) 40%), url("https://images.unsplash.com/photo-1476108621677-3c620901b5e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fHdoaXRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
}
#navbar .navbar-brand {
    font-size: 1.6rem;
}
#navbar .nav-item {
    transition: transform .3s;
}
#navbar .nav-item:hover {
    transform: scale(1.015);
    transition-delay: .1s;
}
#title .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
}
#title .title {
    flex-direction: column;
    max-width: 70%;
}
#title .doctor-heading h1 {
    text-align: center;
    font-weight: 200;
    font-size: 3.7rem;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: .4s;
   
}
#title .description {
    margin-top: 10px;
}
#title .description p {
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
    color: transparent;
    animation: text_reveal .7s ease forwards;
    animation-delay: .8s;
} 
/*END Title Header Section*/

/*list section*/
#e-list .list {
    display: flex;
    justify-content: center;
   
    text-align: center;
    margin-top: 70px;
}
#e-list .equipment-list p {
    transition: transform .3s;
}
#e-list .equipment-list p a {
    font-size: 26px;
    font-weight: 200;
    color: transparent;
    animation: text_reveal_2 .9s ease forwards;
    animation-delay: 1.2s;
    text-decoration: none;
}
#e-list .equipment-list p:hover {
    color: white;
    transform: scale(1.1);
    transition-delay: .1s;
    
}
hr {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 30px;
}
/*END List Section*/
@keyframes text_reveal {
    100% {
        color: black;
        text-shadow: .1px .1px .5px white;
       
    }
}
@keyframes text_reveal_2 {
    100% {
        color: black
    }
}
/*sizing changes section*/
@media only screen and (min-width: 768px) {
    #title .doctor-heading h1 {
        font-size: 4rem;
    }
    #title .description p {
        font-size: 19px;
        font-weight: 200;
    }
    #c-list .company-list p {
        font-size: 35px;
        font-weight: 250px;
    }
}
/*END sizing changes section*/